@{
    ViewData["Title"] = "Crash Details";
}

@model IntexTwo.Models.CrashModel

<div class="card border-light mb-4">
    <div class="card-content">
        <h3 class="card-header">Crash Details</h3>
        <div class="card-body cleartfix">
            <div class="media align-items-stretch">
                <div class="media-body">
                    <ul>
                        <li>ID: @Model.CRASH_ID</li>
                        <li>Date: @Model.CRASH_DATE</li>
                        <li>Time: @Model.CRASH_TIME</li>
                        <li>Route: @Model.ROUTE</li>
                        <li>Mile Point: @Model.MILEPOINT</li>
                        <li>Latitude: @Model.LAT_UTM_Y</li>
                        <li>Longitude: @Model.LONG_UTM_X</li>
                        <li>Name of Road: @Model.MAIN_ROAD_NAME</li>
                        <li>City: @Model.CITY</li>
                        <li>County: @Model.COUNTY_NAME</li>
                    </ul>
                </div>
                <div class="media-body">
                    <ul>
                        <li>&#128679 Work Zone Related: @Model.WORK_ZONE_RELATED</li>
                        <li>&#128694 Pedestrian Involved: @Model.PEDESTRIAN_INVOLVED</li>
                        <li>&#128692 Cyclist Involved: @Model.BICYCLIST_INVOLVED</li>
                        <li>&#127949 Motorcycle Involved: @Model.MOTORCYCLE_INVOLVED</li>
                        <li>&#9888 Improper Restraint: @Model.IMPROPER_RESTRAINT</li>
                        <li>&#128683 Unrestrained: @Model.UNRESTRAINED</li>
                        <li>&#127866 DUI: @Model.DUI</li>
                        <li>&#10133 Intersection Related: @Model.INTERSECTION_RELATED</li>
                        <li>&#128058 Wild Animal Related: @Model.WILD_ANIMAL_RELATED</li>
                        <li>&#128054 Domestic Animal Related: @Model.DOMESTIC_ANIMAL_RELATED</li>
                        <li>&#128260 Overturn Rollover: @Model.OVERTURN_ROLLOVER</li>
                        <li>&#128667 Commercial Vehicle Involved: @Model.COMMERCIAL_MOTOR_VEH_INVOLVED</li>
                        <li>&#128102 Teenage Driver Involved: @Model.TEENAGE_DRIVER_INVOLVED</li>
                        <li>&#128117 Older Driver Involved: @Model.OLDER_DRIVER_INVOLVED</li>
                        <li>&#127776 Night or Dark Condition: @Model.NIGHT_DARK_CONDITION</li>
                        <li>&#128663 Single Vehicle: @Model.SINGLE_VEHICLE</li>
                        <li>&#128064 Distracted Driving: @Model.DISTRACTED_DRIVING</li>
                        <li>&#128564 Drowsy Driving: @Model.DROWSY_DRIVING</li>
                        <li>&#128739 Roadway Departure: @Model.ROADWAY_DEPARTURE</li>
                    </ul>
                </div>
                <div class="align-self-center">
                    <h3>Crash Severity: @Model.CRASH_SEVERITY_ID</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<a class="btn btn-dark" role="button" asp-action="Crashes">Back</a>
